
.icon-more:before { content: '\e800'; } /* '' */
.icon-profile:before { content: '\e801'; } /* '' */
.icon-cart:before { content: '\e802'; } /* '' */
.icon-offers:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */